<div>
    <small><a href="index.xml" target="_blank">RSS Feed</a></small>
    <div style="display: flex; align-items: center">
        <div>
            <h1 style="font-size: 3.6rem; margin: 0;">The Coding Side Quest</h1>
            <p style="margin: 0; padding-left: 1rem;"><small>
                ... a semi-coherent coding blog by
                <a href="https://github.com/CheeseCake87" target="_blank" rel="noreferrer">David Carmichael</a>
            </small>
            </p>
        </div>
        <img style="height: 90px; margin-left: 1rem; padding: 1rem 0;" src="static/android-chrome-192x192.png"
             alt="The Coding Side Quest Logo">
    </div>
</div>