<div>
    <img style="height: 80px;" src="static/android-chrome-192x192.png"
         alt="The Coding Side Quest Logo">
    <div>
        <h1 style="font-size: 3.6rem; margin: 0;">The Coding Side Quest</h1>
        <p style="margin: 0; padding-left: 0.5rem;"><small>
            ... a semi-coherent coding blog by
            <a style="white-space: nowrap" href="https://github.com/CheeseCake87" target="_blank" rel="noreferrer">
                David Carmichael</a>
            - <a style="white-space: nowrap" href="index.xml" target="_blank">[RSS-Feed]</a>
        </small>
        </p>
    </div>
</div>