<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|title|replace("-", " ") }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="static/pygments.emacs-dull.css">
</head>
<body>

<div>
    <h1 style="font-size: 3.6rem; margin: 0;">The Coding Side Quest</h1>
    <p style="margin: 0;"><small>... a semi coherent coding blog by
        <a href="https://github.com/CheeseCake87" target="_blank" rel="noreferrer">David Carmichael</a></small></p>
</div>

<div style="padding-bottom: 1rem; padding-top: 1rem;">
    <p style="margin: 0;"><a href="index.html">< Back to Index</a></p>
</div>

<h2 style="font-size: 2.6rem; margin: 0;">{{ title|title|replace("-", " ") }}</h2>
<p style="margin: 0"><small>{{ date }}</small></p>

{{ content|safe }}
</body>
</html>