<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|title|replace("-", " ") }}</title>
    <link rel="stylesheet" href="static/water.css">
    <link rel="stylesheet" href="static/pygments.emacs-dull.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

{% include "__header__.html" %}

<div style="padding-bottom: 1rem; padding-top: 1rem;">
    <p style="margin: 0;"><a href="index.html">< Back to Index</a></p>
</div>

<p style="margin: 0"><small>{{ date }}</small></p>
<h2 style="font-size: 2.6rem; margin: 0;">{{ title }}</h2>


{{ content|safe }}

</body>
</html>