<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Coding Side Quest</title>
    <link rel="stylesheet" href="static/water.css">
</head>
<body>

{% include "__header__.html" %}

{%- for page, info in pages.items() %}
<div style="margin: 2.8rem 0; width: 100%">

    <small>{{ info.date }}</small>
    <h2 style="font-size: 2.6rem; margin: 0;">{{ info.title }}</h2>
    <p style="margin: 0">{{ info.description }} <a href="{{ page }}">View Post</a></p>

</div>
{%- endfor %}
</body>
</html>