<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="static/water.css">
</head>
<body>

{% include "__header__.html" %}

{%- for page in pages -%}
    {% set split = page.split(':') %}
    {% set page = {'title': split[1], 'date': split[0], 'link': page + '.html'} %}
    <div style="margin-bottom: 1rem; width: 100%">

        <h2 style="font-size: 2.6rem; margin-bottom: 0;">{{ page.title|title|replace("-", " ") }}</h2>
        <p style="margin: 0"><small>{{ page.date }}</small></p>
        <p><a href="{{ page.link }}">Open</a></p>

    </div>

{%- endfor %}
</body>
</html>